# dependencies
/node_modules
/.pnp
.pnp.js

# ignore built js files
/dist/**/*

# testing
/coverage

# editors
.idea
*.iml

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logging files
*.log

